.edit
  %h2= @phrasing_phrase.key
  = link_to "Удалить фразу", phrasing_phrase_path(@phrasing_phrase), class: "btn btn-danger delete-phrase", method: :delete, data: { confirm: 'Удалить? Вы уверены?' }
  = form_for @phrasing_phrase, url: { action: "update" } do |f|
    = f.text_area :value, rows: 12
    = f.submit "Обновить", class: "btn btn-success submit-edit-phrase"
  %br
  - unless @phrasing_phrase.versions.empty?
    %br
    %h2 Прошлые версии
    %br
    %table.phrase-versions
      %tr
        %th Значение
        %th Создано
        %th
        %th
      - @phrasing_phrase.versions.reverse.each do |version|
        %tr
          %td.phrasing-version-value= version.value.html_safe
          %td.phrasing-version-created_at= version.created_at.strftime("%d-%m-%Y %H:%M:%S")
          %td= link_to "Вернуть", phrasing_phrase_path(@phrasing_phrase.id, phrasing_phrase: {value: version.value}), class: "btn btn-success", method: :put
          %td= link_to "Удалить", phrasing_phrase_version_path(version.id), class: "btn btn-danger", method: :delete, data: { confirm: 'Удалить? Уверены?' }
