#search
  = form_tag phrasing_phrases_path, method: :get do
    - locale_options = options_for_select([nil] + @locale_names.map{|l| [l,l]}, params[:locale])
    - select_tag 'locale', locale_options
    = text_field_tag :search, params[:search], placeholder: 'Поиск по ключу или значению', size: 40
    = submit_tag 'Поиск', class: "btn btn-success"
- if @phrasing_phrases.any?
  %table.all-phrases
    %thead
      %tr
        %th Ключ
        %th Значение
    %tbody
      - @phrasing_phrases.each do |t|
        %tr{onclick: "document.location = '/#{Phrasing.route}/#{t.id}/edit'"}
          %td.key
            = link_to edit_phrasing_phrase_path(t) do
              = t.key
          %td.value
            = t.value.try(:html_safe)
